.tablist {
	list-style: none;
	height: 2em;
	padding: 0;
	margin: 0;
	border: none;
}

.tablist li {
	float: right;
	margin-right: 0.13em;
}

.tablist li a {
	display: block;
	padding: 0 1em;
	text-decoration: none;
	border: 0.06em solid #000;
	border-bottom: 0;
	color: #33FF33;
	
	/* These make the tab effect */
	-webkit-border-top-right-radius:0.50em;
	-webkit-border-top-left-radius:0.50em;
	-moz-border-radius-topright:0.50em;
	-moz-border-radius-topleft:0.50em;
	border-top-right-radius:0.50em;
	border-top-left-radius:0.50em;
}

.tablist li a:hover {
	background:#3cf;
	color:#fff;
	text-decoration:none;
}


.tablist li#current a {
	background-color: #777;
	color: #fff;
}

.tablist li#current a:hover {
	background: #39C;
}

body
{
font-family: 'Press Start 2P', cursive;
font-size: 14px;
line-height: 1.6;
color: #000000;
margin: 0;
background-color: #000000;
}

#container
{
width: 790px;
background-color: #000000;
margin: 0 auto;
}

#piccontainer
{
position: relative;
width: 770px;
height: 396px;
margin: 20px auto 0 auto;
border: 1px solid #aaa;
}

#piccontainer ul
{
padding: 0;
margin: 0;
list-style-type: none;
}

#piccontainer a.gallery span
{
position: absolute;
width: 1px;
height: 1px;
top: 5px;
left: 5px;
overflow: hidden;
background: #fff;
}

#piccontainer a.gallery:hover
{
border: 1px solid #fff;
}

#piccontainer a.gallery:hover span
{
position: absolute;
width: 372px;
height: 372px;
top: 10px;
left: 75px;
color: #000;
background: #fff;
}

#piccontainer a.gallery:hover img
{
border: 1px solid #fff;
float: left;
margin-right: 5px;
}

#piccontainer a.gallery, #piccontainer a.gallery:visited
{
display: block;
color: #000;
text-decoration: none;
border: 1px solid #000;
margin: 1px 2px 1px 2px;
text-align: left;
cursor: default;
}

#piccontainer a.slidea
{
background: url(../images/sheldon-cooper-cereal-thumb.jpg);
height: 93px;
width: 100px;
}

#piccontainer a.slideb
{
background: url(../images/sheldon-cooper-nerd-thumb.jpg);
height: 93px;
width: 100px;
}

#piccontainer a.slidec
{
background: url(../images/sheldon-cooper-piano-thumb.jpg);
height: 93px;
width: 100px;
}

#piccontainer a.slided
{
background: url(../images/super-heros-thumb.jpg);
height: 93px;
width: 100px;
}

#piccontainer ul
{
width: 198px;
height: 386px;
margin: 5px;
float: right;
}

#piccontainer li
{
float: left;
}

#header
{
padding: 40px 20px;
background-color: #000000;
text-align: center;
color: #33FF33;
}

#op
{
opacity: 0.4;
}

#content
{
width: 510px;
padding: 10px 20px;
background-color:#000000;
color: #33FF33;
font-family: 'Varela', sans-serif;
}

.button
{
display: inline-block;
outline: none;
cursor: pointer;
text-align: center;
text-decoration: none;
font: 14px/100% Arial, Helvetica, sans-serif;
padding: .5em 2em .55em;
text-shadow: 0 1px 1px rgba(0,0,0,.3);
-webkit-border-radius: .5em;
-moz-border-radius: .5em;
border-radius: .5em;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,,2);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.button:active
{
position: relative;
top: 1px;
}

.orange {
color: #fef4e9;
border: solid 1px #da7c0c;
background: #f78d1d;
background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
}

.left
{
float: left;
margin: 3px;
}

#sidebar
{
width: 200px;
padding: 10px 20px;
background-color: #000000;
float: left;
color: #33FF33;
}

#footer
{
clear: both;
padding: 10px 20px;
background-color: #000000;
opacity: 0.4;
text-align: center;
color: #33FF33;
}

h1
{
font-size: 16px;
text-transform: uppercase;
text-shadow: 1px 1px 1px #000, 3px 3px 5px blue;
}

#header h1, #footer h1
{

}
